<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <servlet>
  <servlet-name>cricket</servlet-name>
  <servlet-class>com.Sports.cricketServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>cricket</servlet-name>
  <url-pattern>/cricket</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>football</servlet-name>
  <servlet-class>com.Sports.footballServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>football</servlet-name>
  <url-pattern>/football</url-pattern>
  </servlet-mapping>
  
</web-app>